:root {
  --primary-color-dark: #011c44;
  --primary-color-light: #2b7fff;
  --primary-color-white: #ffffff;
  --secondary-color-darkgrey: #4a4a4a;
  --secondary-color-lightgrey: #747272;
  --secondary-color-dark: #011f4a;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
