.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  fill: var(--primary-color-dark);
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--primary-color-dark);
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background-color: var(--primary-color-light);
    fill: var(--primary-color-white);
  }

  &.next {
    transform: rotate(180deg);
  }
}
