.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 0;
  fill: var(--primary-color-dark);
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--primary-color-dark);
  cursor: pointer;
  transition: 0.2s;
}

.carousel-button:hover {
  background-color: var(--primary-color-light);
  fill: var(--primary-color-white);
}

.carousel-button.next {
  transform: rotate(180deg);
}
