.input {
  &__label {
    position: absolute;
    top: 16px;
    left: 42px;
  }

  &:required {
    color: red;
  }

  &__control {
    padding: 16px 42px;
    width: 100%;
    font-size: 16px;
    line-height: 1.17;
    border: 1px solid var(--secondary-color-lightgrey);
    border-radius: 32px;
    background: transparent;

    &:focus {
      border-color: var(--secondary-color-lightgrey);
      outline: none;
      background-color: var(--secondary-color-lightgrey);
    }

    &::placeholder {
      color: var(--primary-color-white);
      font-size: 16px;
      line-height: 1.17;
    }

    &:focus::placeholder {
      color: var(--primary-color-white);
      /* background-color: var(--secondary-color-lightgrey); */
    }
  }
}
