.about-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 32px;

  @media screen and (min-width: 1280px) {
    flex-direction: row;
    gap: 32px;
  }
  /* justify-content: space-between; */
  /* width: 100%; */
  /* max-width: 500px; */

  // @media screen and (max-width: 1280px) {
  //   display: flex;
  //   justify-content: center;
  //   flex-direction: column;
  // }

  &__reincarnate {
    margin: 0 0;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and (max-width: 768px) {
      gap: 16px;
    }

    @media screen and (min-width: 1020px) {
      justify-content: center;
    }

    // &__reincarnate:first-child {
    //   margin-bottom: 24px;
    // }

    /* display: flex;
    flex-direction: column; */
    /* width: 100%;
  max-width: 709px; */
    /* justify-content: space-between;
  gap: 40px; */
    /* margin: 0 auto; */
  }

  &__offer-text {
    margin-bottom: 0;
    color: var(--primary-color-dark);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.1;

    @media screen and (min-width: 768px) {
      font-size: 22px;
      line-height: 1.7;
    }
  }

  &__offer-image {
    /* display: flex;
  flex-direction: column; */
    // display: none;
    @media screen and (max-width: 1020px) {
      display: none;
    }
    @media screen and (min-width: 1020px) {
      height: 695px;
      max-width: 500px;

      position: relative;
    }

    @media screen and (min-width: 1280px) {
      width: 100%;
    }
  }

  &__mask-img {
    display: none;

    @media screen and (min-width: 768px) {
      // display: block;
      display: flex;
      align-self: flex-start;
      border-radius: 50%;
    }
    @media screen and (min-width: 1280px) {
      display: flex;
      align-self: flex-start;
    }
  }

  &__mask-img:last-child {
    display: none;

    @media screen and (min-width: 768px) {
      // display: block;
      display: flex;
      position: absolute;
      border-radius: 50%;
    }

    @media screen and (min-width: 1280px) {
      display: flex;
      position: absolute;

      right: 0px;
      bottom: 0px;

      /* display: flex;
  align-self: flex-end;  */
    }
  }

  &__star-icon-first {
    display: none;
    // left: 955px;

    @media screen and (min-width: 1760px) {
      display: inline-block;
      position: absolute;
      width: 64px;
      height: 64px;
      top: 1200px;
      left: 1155px;
      /* z-index: 1; */
      //   angle: 30 deg;
    }
  }

  &__star-icon-second {
    display: none;

    @media screen and (min-width: 1760px) {
      display: inline-block;
      position: absolute;
      width: 40px;
      height: 40px;
      top: 875px;
      left: 1525px;
      /* z-index: 1; */
      //   angle: -30 deg;
    }
  }

  &__star-icon-third {
    display: none;

    @media screen and (min-width: 1760px) {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      top: 1110px;
      left: 1535px;
      /* z-index: 1; */
      //   angle: 22.91 deg;
    }
  }

  &__star-icon-four {
    // display: none;
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 860px;
    left: 403px;

    @media screen and (min-width: 530px) {
      display: none;
    }
  }
}

//about-container__subhero-title
// &__subhero-title {
//   color: var(--primary-color-dark);
//   font-family: 'Play', sans-serif;
//   font-size: 64px;
//   font-weight: 700;
//   line-height: 1.1;
// }

// &__subhero-title .accent {
//   color: var(--primary-color-light);
// }
