.contact-section {
  &__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 32px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
    }
  }

  &__map {
    flex-shrink: 0;

    height: 232px;
    margin: 0 -73px;
    border: none;

    @media screen and (min-width: 768px) {
      margin: 0 0;
      flex-shrink: 1;
      border-radius: 32px;
      width: 450px;
      height: 480px;
    }
    @media screen and (min-width: 1280px) {
      width: 605px;
      height: 480px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    flex-basis: 423px;
    background-image: url('../images/footer-background.png');
    background-color: var(--primary-color-dark);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    border-radius: 32px;
    padding: 42px 24px;
    text-align: center;
    height: 481px;

    @media screen and (min-width: 1280px) {
      padding: 48px 56px;
    }
  }

  &__title {
    color: var(--primary-color-white);
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    line-height: 1.1;
    margin-bottom: 32px;
  }

  &__form-field {
    margin-bottom: 16px;
  }
}

// хуйня, был лишний контейнер для заголовка и формы
// &__container {
//   padding: 48px 56px;
//   text-align: center;
//   height: 481px;
// }

// .gift-title .accent {
//   color: var(--primary-color-light);
// }

// .form-field {
//   position: relative;
//   margin-bottom: 24px;
// }

// .form-field.form-field-contact {
//   margin-bottom: 16px;
// }
