.form-button {
  display: block;
  margin: 0 auto 24px;
}

.modal-button {
  margin-bottom: 8px;
}

.modal-button:hover {
  background-color: var(--primary-color-white);
}

//

.form-terms {
  margin: 0 auto;
  max-width: 220px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}

.form-terms-link {
  color: var(--primary-color-white);
  text-underline-offset: 2px;
}
