.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff40;
  /* padding: 32px; */

  @media screen and (min-width: 768px) {
    backdrop-filter: blur(5px);
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__nav {
    display: flex;
    align-items: center;

    justify-content: space-between;
    height: 106px;
    flex-grow: 1;

    @media screen and (min-width: 1280px) {
      gap: 240px;
    }
  }

  &__menu {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
      gap: 34px;
    }

    @media screen and (min-width: 1280px) {
      display: flex;
      gap: 56px;
      flex-shrink: 0;
      flex-grow: 1;
      justify-content: center;
      padding: 0;
    }
  }

  &__social-list {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
      gap: 32px;
    }
  }

  &__social-icon-header {
    fill: var(--primary-color-dark);
  }

  &__burger {
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: transparent;
    border: none;
    fill: var(--primary-color-light);

    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}

.desktop-title {
  @media screen and (max-width: 1280px) {
    display: none;
  }
}

.mobile-title {
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
/*&__container {
  display: flex;
  align-items: center;
  gap: 40px;
}*/
