.hero-section {
  padding: 122px 0;
  background-image: url('../images/head-background-img.jpg');
  background-repeat: no-repeat;
  background-position: top right -240px;
  background-size: cover;

  @media screen and (min-width: 480px) {
    background-position: top right -200px;
  }

  @media screen and (min-width: 1280px) {
    background-position: center top;
  }

  &__container {
    padding: 20px;
    /* background-image: url('../images/head-background-img.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover; */
  }

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 1280px) {
      margin-bottom: 105px;
      display: inline-block;
    }
  }

  &__name {
    color: var(--primary-color-dark);
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    font-size: 18px;

    @media screen and (max-width: 768px) {
      text-align: center;
    }
  }

  &__title {
    color: var(--primary-color-light);
    font-family: 'Play', sans-serif;
    font-size: 54px;
    line-height: 1.1;
    margin: 0 0 32px 0;

    @media screen and (min-width: 768px) {
      font-size: 104px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 140px;
      line-height: 0.8;
      margin: 16px 0 40px 0;
    }
  }

  &__signature {
    color: var(--secondary-color-darkgrey);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 1.5;
    margin: 4 auto;
    text-align: center;
  }
}
