.our-procedures-section {
  &__slider {
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: center; //в пекарне нету
  }

  &__container {
    overflow: hidden;
  }

  &__list {
    margin-bottom: 16px;
    // display: flex; //в пекарне нету
    // justify-content: center; //в пекарне нету
    // gap: 16px; //в пекарне нету

    /* flex-wrap: wrap; */
    /* position: relative; */
    /* line-height: 0;  */
    /* два последних с градиента */

    @media screen and (min-width: 1280px) {
      //в пекарне нету
      margin-bottom: 32px;
    }
  }

  &__button {
    display: none;

    @media screen and (min-width: 1280px) {
      display: flex;
    }
  }

  // &__item {
  // transition: transform 0.2s;

  // &:hover {
  //   transform: scale(1.05);
  // }
  // }
}
