.our-procedures-section {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 16px;
    /* flex-wrap: wrap; */
    /* position: relative; */
    /* line-height: 0;  */
    /* два последних с градиента */
  }
  &__item {
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.05);
    }
  }
}
