.why-us-section {
  padding-top: 128px;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // gap: 48px;
    margin: 0 auto;
  }

  // &__title {
  //   margin: 0 auto;
  // }

  &__list {
    display: flex;
    gap: 56px;
    justify-content: center;
    /* max-width: 1060px; */
    list-style-type: none;
    color: var(--primary-color-dark);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.1;
  }
}

// .section-title {
//   color: var(--primary-color-dark);
//   font-family: 'Play', sans-serif;
//   font-size: 64px;
//   font-weight: 700;
//   line-height: 1.1;
// }

// .section-title.centered {
//   text-align: center;
// }

// .section-title .accent {
//   color: var(--primary-color-light);
// }
