.why-us-section {
  padding-top: 48px;
  // padding-top: 128px;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    // gap: 48px;

    @media screen and (min-width: 1280px) {
      gap: 56px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    color: var(--primary-color-dark);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.1;
    /* max-width: 1060px; */

    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    @media screen and (min-width: 1280px) {
      gap: 56px;
      flex-direction: row;
    }
  }
}

// &__title {
//   margin: 0 auto;
// }

// .section-title {
//   color: var(--primary-color-dark);
//   font-family: 'Play', sans-serif;
//   font-size: 64px;
//   font-weight: 700;
//   line-height: 1.1;
// }

// .section-title.centered {
//   text-align: center;
// }

// .section-title .accent {
//   color: var(--primary-color-light);
// }
